{% extends 'base.html' %}


{% block content %}

<section class="" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->


<section class="reg_page_section padding-y">
  <div class="dark_bg"></div>
	<div class="card mx-auto" style="max-width: 600px; margin-top:100px;">

      <div class="card-body">
      <h4 class="card-title mb-4">Forgot Password</h4>
      {% include 'includes/alerts.html' %}
      <form action="{% url 'forgotPassword' %}" method="POST">
        {% csrf_token %}
          <div class="form-group">
			 <input type="email" class="form-control" placeholder="Email Address" name="email">
          </div> <!-- form-group// -->

          <div class="form-group">
          	<a href="{% url 'login' %}" class="float-right  text-dark ">Got password? Login</a>

          </div> <!-- form-group form-check .// -->
          <div class="form-group">
              <button type="submit" class="btn btn-dark btn-block"> Submit  </button>
          </div> <!-- form-group// -->
      </form>
      </div> 
      <div><!-- card-body.// -->
     <p class="text-center mt-4 text-dark">Don't have account? <a href="{% url 'register' %}" class="text-dark">Sign up</a></p>
    </div><br><br>
    </div> <!-- card .// -->
  </div>
     <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->

</section>
{% endblock %}
