{% extends 'base.html' %} 


{% block content %}

<section class="" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->


<section class="reg_page_section padding-y">
  <div class="dark_bg"></div>
	<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">

      <div class="card-body">
      <h4 class="card-title mb-4">Reset Password</h4>
      {% include 'includes/alerts.html' %}
      <form action="{% url 'resetPassword' %}" method="POST">
        {% csrf_token %}
          <div class="form-group">
			 <input type="password" class="form-control" placeholder="Create Password" name="password">
          </div> <!-- form-group// -->
          <div class="form-group">
			<input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password">
          </div> <!-- form-group// -->


          <div class="form-group">
              <button type="submit" class="btn btn-dark btn-block"> Reset  </button>
          </div> <!-- form-group// -->
      </form>
 
    <div>  
     <p class="text-center text-dark mt-4">Don't have account? <a href="{% url 'register' %}" class="text-dark" >Sign up</a></p>
    </div>

    </div>

     <br><br>
  </div>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
{% endblock %}
