{% extends 'admin/layout.html' %}
{% load static %}
{% block content%} 

<div class="container">
<div class="card p-5">

    <hr class="hr-center">
    <form action="" method="post" enctype="multipart/form-data" >
        {% csrf_token %}

   
       

                     
                            
                            <div class="col-md-6">
                                <div class="input-group">
                                   

                                      
                                          <div class="form-group col-md-12">
                                            <br><label class="control-label col-md-4">Image : </label>
                                            <input type="file" class="check__image-only" id="image" aria-describedby="emailHelp"
                                            onchange="onChangeFunction(event)" accept="image/*" name="upload_data" required
                                            value="{{form.upload_data.value}}"><span class="text-danger">{{form.errors.upload_data}}</span>
                    
                                    </div>
                                    <div class="form-group col-md-12">
                                        <br><label class="control-label col-md-4">Delivered Date : </label>
                                        <input type="date" class="form-control col-md-8"  name="delivered_date"  ></input>
                                        
                                    </div>
                                            
                                        </div>
                                       
                


                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="reset" class="btn btn-danger ml-3" data-dismiss="modal">Cancel</button>
                </div>
               
                </form>
            </div>


        </div>
    </div>
</div>



       
  



















{% endblock %}




