{% extends 'admin/layout.html' %}
{% load static %}
{% block content%} 
<style>
    
    .dtsp-panes, .dtsp-panesContainer {
        display: none;
    }
    #example {
        float : right !important;
    }



</style>
<div class="container">
<div class="card p-5">
    <h3 class="text-center">Order Product</h3>
    <hr class="hr-center">
    <form action="" method="post">
        {% csrf_token %}

      <div class="table-responsive">
            <table id="example" class="table table-striped nowrap"  style="overflow-x:auto;width:100%;">
                <thead>
                    <tr>
                        <th >S.No</th>
                        <th >Supplier Name</th>
                        <th >Order Number</th>
                        <th >Product Name</th>

                        <th >Product Image</th>

                       
                        <th >Quantity</th>
         
                        <th >Product Price </th> 
                        <th >Track </th> 

                      
                       


                    
                    </tr>
                  
                </thead>
                <tbody>
                    {% for i in order_product %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.product.supplier.first_name}}</td>
                        <td>{{i.order.order_number}}</td>
                        <td>{{i.product.product_name}}</td>

                        <td><input type="file"  accept="image/*" name="images" id="file"  onchange="loadFile(event)" style="display: none;">
                            <img id="output" width="100" height="70" src="{{i.product.images.url}}"/><br>
                            {% for j in i.variations.all %}
                            {{j.variation_category}} - {{j.variation_value}} 
                            {% endfor %}</td>
                      

                        <td>{{i.quantity}}</td>
                        <td>{{i.product_price}}</td>
                        <td> <a href="{% url 'track_details' i.id %}" class="nav-item nav-link"                                                        
                            ><i class="fa-solid fa-plus me-2"></i>Track Details</a></td>
                       
                      
                  
                    {% comment %} {% if i.is_verified  %}

                    <td>  Verified</a></td> 

                    {% else %}
                    <td> <a href="{% url 'verify_order' i.id  %}"> Verify</a></td> 

                    {% endif %} {% endcomment %}


                        {% comment %} <td><button class="text-success"><a href="{% url 'view_variation_ordered_product' i.id %}">view</a></button></td> {% endcomment %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>



</div>

{% endblock content %} 



