{% extends 'admin/layout.html' %}
{% load static %}
{% block content%} 
<style>
    
    .dtsp-panes, .dtsp-panesContainer {
        display: none;
    }
    #example {
        float : right !important;
    }



</style>
<div class="container" >




<div class="card p-5">
    <div id='error_message'>
        {% include 'includes/alerts.html' %}
       </div>
    <h3 class="text-center">View variation</h3>
    <hr class="hr-center">
    <form action="" method="post">
        {% csrf_token %}

   <div class="table-responsive">
            <table id="example" class="table table-striped nowrap"  style="overflow-x:auto;width:100%;">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>product&nbsp;Name</th>
                        <th>product&nbsp;Image</th>
                        <th>Variation category</th>
                        <th>Variation value</th>
                        <th>View Variation</th>
                    </tr>
                  
                </thead>
                <tbody>
                     {% for i in y %} 
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.product.product_name}}</td>
                        
                        <td><input type="file"  accept="image/*" name="images" id="file"  onchange="loadFile(event)" style="display: none;">
                          <img id="output" width="100" height="70" src="{{i.product.images.url}}"/></td>
                  
                       
                        <td>{{i.variation_category}}</td>
                        <td>{{i.variation_value}}</td>

                    
                        <td><a href="{% url 'variation_delete' i.id  %}"> <i class="fa fa-trash p-2 text-danger"> </i></a>

                          </td>
                     
                        </tr>
                   {% endfor %}  
                </tbody>
            </table>
        </div>
    </form>
</div>



</div>

{% endblock content %}